name: Test goremy examples

on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'remy/**'
      - 'examples/**'
      - '.github/workflows/build_examples.yml'
  pull_request:
    branches:
      - main
      - develop
    paths:
      - 'remy/**'
      - 'examples/**'
      - '.github/workflows/build_examples.yml'

jobs:
  build:
    strategy:
      matrix:
        go-version:
          - 1.20.x
          - 1.21.x
          - 1.22.x
          - 1.23.x
          - 1.24.x
          - 1.25.x
        platform:
          - ubuntu-latest
          - windows-latest
    runs-on: '${{ matrix.platform }}'
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '${{ matrix.go-version }}'

      - name: Build basic example
        run: cd ./examples/basic && go build -v ./...

      - name: Build bindlogger example
        run: cd ./examples/bindlogger && go build -v ./...

      - name: Build dynamic constructors example
        run: cd ./examples/dynamiconstructor && go build -v ./...

      - name: Build guessing_types example
        run: cd ./examples/guessing_types && go build -v ./...
