name: Test Remy

on:
  push:
    branches:
      - $default-branch
      - develop
    paths:
      - 'remy/**'
      - '.github/workflows/test_core.yml'
  pull_request:
    branches:
      - $default-branch
      - develop
    paths:
      - 'remy/**'
      - '.github/workflows/test_core.yml'

jobs:
  test:
    strategy:
      matrix:
        go-version:
          - 1.20.x
          - 1.21.x
          - 1.22.x
          - 1.23.x
          - 1.24.x
          - 1.25.x
        platform:
          - ubuntu-latest
          - windows-latest
    runs-on: '${{ matrix.platform }}'
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '${{ matrix.go-version }}'

      - name: Test `remy`
        run: cd ./remy && go test -v -race ./...
